{% extends 'FilmothequeBundle::layout.html.twig' %}


{% block content %}
<table>
<tr>
    <td>Titre</td>
    
</tr>
 {% if films |length == 0 %}
     Aucun a film le box
 {% else %}
{% for film in films %}
    <tr>
    <td> {{ film.titre }}</td>
    <td><a href="{{ path('film_editer', {'id': film.id }) }}">Modifier</a></td>
    <td> <a href="{{ path('film_supprimer', {'id' : film.id }) }}"> Supprimer</a></td>
    </tr>
{%  endfor %}
{% endif %}
</table>
<div>
 <a href="{{ path('film_ajouter') }}">Ajouter un acteur</a>
</div>
{% endblock %}